.red {
  background-color: rgb(240, 72, 72);
  border: none;
  color: black;
}
.red:hover,
.red:focus {
  box-shadow: none;
  color: white;
}

.delete-review-menu {
  padding: 2em;
  height: 35vh;
  width: 50vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5em;
}
