header {
  margin-top: 5em;
  /* padding: 1em; */
  border-top: solid 1px rgb(55, 54, 52);
  :is(h3) {
    margin-left: 6%;
  }
}
.review {
  width: 66%;
  border-radius: 20px;
  box-shadow: -8px 6px 6px rgb(19, 21, 24);
  margin-left: 15%;
  margin-bottom: 3em;
  display: grid;
  grid-template-rows: 20% 20% 60%;
}
.first-name {
  font-weight: lighter;
  margin-top: 0.7em;
  margin-left: 1em;
}
.date {
  margin-top: 0.7em;
  margin-left: 1.1em;
}
.text {
  font-weight: lighter;
  margin-left: 1.5em;
}

.post{
  padding: .8em;
  margin-left: 8%;
  margin-bottom: 2%;
}
