header {
  margin-top: 5em;

  border-top: solid 1px rgb(55, 54, 52);
  :is(h3) {
    margin-left: 6%;
  }
}

.no-reviews {
  height: 30vh;
  display: flex;
  justify-content: center;
  padding: 2em;
}

.no-review-text {
  padding: 2em;
}

.review {
  width: 66%;
  border-radius: 20px;
  box-shadow: -8px 6px 6px rgb(19, 21, 24);
  margin-left: 15%;
  margin-bottom: 3em;
  display: grid;
  grid-template-rows: 20% 20% 8% 55%;
}

.num-reviews {
  margin-top: .3em;
  margin-left: 1.7em;
}
.first-name {
  font-weight: lighter;
  margin-top: 0.7em;
  margin-left: 1em;
}
.date {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.5em;
}
.text {
  font-weight: lighter;
  margin-top: .3em;
  margin-left: 1.5em;
  padding: 1em;
}

.post {
  padding: 0.8em;
  margin-left: 8%;
  margin-bottom: 2%;
}

.delete-review-button {
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}
