.title {
  font-weight: lighter;
  margin-left: 6%;
}
.location {
  font-weight: lighter;
  margin-left: 6%;
}
h5 {
  font-weight: lighter;
}

.all-images {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 400px;
  gap: 0.5em;
  border-bottom: solid 1px rgb(55, 54, 52);
  border-top: solid 1px rgb(55, 54, 52);
  box-shadow: 10px 10px 10px rgba(19, 21, 24, .8), -10px -8px 10px rgba(19, 21, 24, .8);
}

.preview-box {
  height: 100%;
  width: 100%;
  margin-left: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.preview-image {
  border-radius: 20px;
  max-width: 640px;
  max-height: 380px;
}

.other-box {
  height: 300px;
  margin-right: 10%;
  margin-top: 3em;
  gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}

.info-box {
  margin-top: 2em;
  margin-left: 50%;
  width: 250px;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  border-radius: 20px;
  border: solid 1px rgb(53, 157, 253);
  box-shadow: 8px 10px 8px rgb(27, 34, 44), -8px -8px 8px rgb(27, 34, 44);
  button {
    grid-column: span 2;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: larger;
  }
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    font-weight: lighter;
  }
}

.rating-review {
  display: flex;
  justify-content: center;
  align-items: center;
  h6 {
    font-weight: lighter;
  }
}
.information {
  display: grid;
  grid-template-columns: 60% 40%;
}

.description-box {
  margin-top: auto;
  margin-left: 10%;
  display: grid;
  grid-template-rows: 45% 65%;
  h3 {
    font-size: large;
    font-weight: light;
    padding: 1em;
    margin-top: auto;
  }
}
.description {
  padding: 1em;
  margin-left: 5%;
  margin-top: 5px;
}
