.one-spot-page {
  display: flex;
  flex-direction: column;
  padding: 2em 20em;
  justify-content: center;
}

.title {
  font-weight: lighter;
  margin-left: 2%;
}
.location {
  font-weight: lighter;
  margin-left: 2%;
}
h5 {
  font-weight: lighter;
}

.all-images {
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 20px;
  border-bottom: solid 1px rgb(55, 54, 52);
  border-top: solid 1px rgb(55, 54, 52);
  box-shadow: -8px 10px 8px rgba(19, 21, 24, 0.8),
    8px -10px 8px rgba(19, 21, 24, 0.8);
}

.preview-image {
  border-radius: 20px;
  box-shadow: none;
  aspect-ratio: 16/9;
}

.other-box {
  aspect-ratio: 16/9;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  margin-top: auto;
  margin-bottom: auto;
}

.other-image {
  box-shadow: none;
  margin: auto;
}

.info-box {
  margin-left: auto;
  margin-top: 2em;
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  border-radius: 20px;
  border: solid 1px rgb(53, 157, 253);
  box-shadow: 8px 10px 8px rgb(27, 34, 44), -8px -8px 8px rgb(27, 34, 44);
  :is(button) {
    grid-column: span 2;
    margin-bottom: 0.8em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    font-size: larger;
  }
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  :is(h4) {
    font-weight: lighter;
  }
}

.rating-review {
  display: flex;
  justify-content: center;
  align-items: center;
  :is(h6) {
    font-weight: lighter;
  }
}
.information {
  display: grid;
  grid-template-columns: 60% 40%;
}

.description-box {
  margin-top: auto;
  display: grid;
  grid-template-rows: 45% 65%;
  word-wrap: break-word;
  :is(h3) {
    font-size: large;
    font-weight: light;
    padding-top: 1em;
    margin-top: auto;
    margin-left: 2%;
  }
}
.description {
  padding: 1em;
  margin-left: 10%;
  margin-top: 5px;
}
