.grey {
  background-color: grey;
}

.review-menu {
  padding: 3em;
  height: 50vh;
  width: 60vh;
  display: grid;
  grid-template-rows: 20% 10% 70%;
}

.review-form {
  display: grid;
  grid-template-columns: 52% 48%;
  grid-template-rows: 60% 20% 20%;
  grid-gap: 0.5em;
}

.review-text {
  grid-column: span 2;
}


.rating-input {
  display: flex;
  justify-content: right;
  align-items: center;
}

.rating-input .filled {
  color: rgb(53, 157, 253);
}

.rating-input .empty {
  color: rgb(40, 50, 76);
}

.stars-label {
  display: flex;
  justify-content: left;
  align-items: center;
}
.review-button {
  grid-column: span 2;
}

.review-error {
  font-size: 12pt;
}
