/* TODO: Add sitewide styles */
body {
    background-color: rgb(11, 11, 24);
    color: rgb(176, 199, 247);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a {
    color: rgb(176, 199, 247);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    background-color: rgb(42, 79, 122);
    border: none;
    padding: 7px;
    border-radius: 20px;
}
ul {
    color: rgb(176, 199, 247);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
