/* TODO: Add sitewide styles */
body {
    background-color: rgb(29, 29, 31);
    color: rgb(247, 240, 219);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a {
    color: rgb(247, 240, 219);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    background-color: rgb(42, 79, 122);
    border: none;
    padding: 7px;
    border-radius: 20px;
}
ul {
    color: rgb(247, 240, 219);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
