.red {
    background-color: rgb(240, 72, 72);
}

.delete-spot-menu{
    padding: 2em;
    height: 35vh;
    width: 50vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: .5em;
}
