section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.spot-list {
  padding: 10px;
}

.spot-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 20px;
  background-color: rgb(42, 79, 122);
  color: rgb(96, 153, 164);
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
