.spots-grid {
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 20%));
  gap: 3%;
  grid-column: span 3;
}

.spot-card {
  font-size: smaller;
  height: 40vh;
  display: grid;
  grid-template-rows: 80% 20%;
}

.spot-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.info-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3.7em;
}

.spot-info-left {
  max-height: 20px;
}
.spot-info-right {
  max-height: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 20px;
  background-color: rgb(53, 157, 253);
  color: rgb(40, 50, 76);
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgb(19, 21, 24);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
