.spots-grid {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 15%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3em;
  row-gap: 13em;
}

.spot-card {
  height: 30vh;
  width: 40vh;

}


.spot-image {
  height: 100%;
  width: 100%;
  margin: auto;
}

.info-container {
  border-top: solid 1px rgb(55, 54, 52);
  box-shadow: inset 0px 5px 2px rgba(19, 21, 24, 0.8);
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 1em;
}

.spot-info-left {
  max-height: 20px;
}
.spot-info-right {
  max-height: 20px;
}
