.hidden {
  display: none;
}
.home-logo {
  border-radius: 20px;
}

.create-spot {
  color: rgb(40, 50, 76);

}
.create-button {
  border-radius: 20px;
  box-shadow: 8px 6px 6px rgb(19, 21, 24);
  padding: 11px 10px 11px 10px;
}

.manage-spot {
  color: rgb(40, 50, 76);
}
