.nav-bar {
  display: flex;
  justify-content: space-evenly;
}
.active {
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}
.home-logo {
  border-radius: 20px;
  width: 100px;
  height: 40px;
}

.create-spot {
  color: rgb(40, 50, 76);
}

.button-container {
  margin-left: 70%;
}

.create-button {
  border-radius: 20px;
  box-shadow: 8px 6px 6px rgb(19, 21, 24);
  padding: 11px 10px 11px 10px;
}

.manage-spot {
  color: rgb(40, 50, 76);

}


.profile-button {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  position: absolute;
  top: 4em;
  right: 0.5em;
  z-index: 7;
  background-color: rgb(18, 18, 18);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px rgb(19, 21, 24), -3px -3px rgb(19, 21, 24);
}

.menu-button {
  width: 40px;
  height: 40px;
}
